body {
    padding-top: 50px;
}

.breakpoints {
    width: .8em;
}

.CodeMirror {
    height: auto;
}

.CodeMirror-scroll {
    max-height: 600px;
}

.navbar-fixed-top {
    border: 0;
}

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.main {
    padding-top: 0;
    padding-right: 20px;
    padding-left: 20px;
}

.panel {
    outline: 2px;
}

#terminal {
    word-wrap: break-word;
    font-size: 14px;
}

#terminal div.jquery-console-inner {
    width: auto;
    min-height: 200px;
    height: auto;
    background: #333;
    padding: 0.5em;
    overflow: auto
}

#terminal div.jquery-console-message {
    color: #ddd;
    font-family: monospace;
    padding: 0.1em;
}

.blinking-cursor {
    background: #bbb;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-moz-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-webkit-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-ms-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-o-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}