/**
 *  Box Sizing
 */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,*:before,*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

/**
 * Overall Style
 */

html,body {
    font-family: sans-serif;
    height:100%;
    background-color: #e7e7e7;
    color: #777;
}

.navbar-fixed-top {
    border: 0;
}

/**
 * Menu Bar
 */

body {
    padding-top: 30px;
}

.menuContainer {
		position: fixed;
    top: 0;
		width: 100%;
}

.menu {
		position: relative;
		float: left;
		width: 100%;
		padding: 0 20px;
		border-radius: 3px;
		box-shadow: inset 0 1px 1px rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.15);
		background: #ccc; 
}

.menu, .menu ul {
		list-style: none;
}

.menu > li {
		float: left;
		position: relative;
		border-right: 1px solid rgba(0,0,0,.1);
		box-shadow: 1px 0 0 rgba(255,255,255,.25);		
}

.menu > li:first-child {
		border-left: 1px solid rgba(255,255,255,.25);
		box-shadow: -1px 0 0 rgba(0,0,0,.1), 1px 0 0 rgba(255,255,255,.25);
}

.menu a {
		display: block;
		position: relative;
		padding: 13px 20px 13px 20px;
		text-decoration: none;
		color: rgba(75,75,75,1);
		line-height: 1;
		font-weight: 600;
		font-size: 12px;
		letter-spacing: -.05em;
		background: transparent;		
		text-shadow: 0 1px 1px rgba(255,255,255,.9);
		transition: all .25s ease-in-out;
	  
}

.menu > li:hover > a {
		background: #eee;
		color: rgba(132,132,132,1);
		text-shadow: none;
}

.menu li ul  {
    z-index: 20;
		position: absolute;
		left: 0;
		width: 200px;
		padding: 0;
		opacity: 0;
		visibility: hidden;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		background: transparent;
		overflow: hidden;
		transform-origin: 50% 0%;
}


.menu li:hover ul {
		
		padding: 15px 0;
		background: #ccc;
		opacity: 1;
		visibility: visible;
		box-shadow: 1px 1px 7px rgba(0,0,0,.5);
		animation-name: swingdown;
		animation-duration: 1s;
		animation-timing-function: ease;

}

@keyframes swingdown {
		0% {
			  opacity: .99999;
			  transform: rotateX(90deg);
		}

		30% {			
			  transform: rotateX(-20deg) rotateY(5deg);
			  animation-timing-function: ease-in-out;
		}

		65% {
			  transform: rotateX(20deg) rotateY(-3deg);
			  animation-timing-function: ease-in-out;
		}

		100% {
			  transform: rotateX(0);
			  animation-timing-function: ease-in-out;
		}
}

.menu li li a {
		padding-left: 15px;
		font-weight: 400;
		color: #000;
		text-shadow: none;
		border-top: dotted 1px transparent;
		border-bottom: dotted 1px transparent;
		transition: all .15s linear;
}

.menu li li a:hover {
		color: rgba(32,32,32,1);
		border-top: dotted 1px rgba(255,255,255,.15);
		border-bottom: dotted 1px rgba(255,255,255,.15);
		background: rgba(233,233,233,.8);
}

/**
 * Code Mirror
 */

.breakpoints {
    width: .8em;
}

.CodeMirror {
    height: auto;
}

.CodeMirror-scroll {
    max-height: 500px;
}

/**
 * Terminal Theme
 */

#terminal {
    word-wrap: break-word;
    font-size: 14px;
}

#terminal div.jquery-console-inner {
    width: auto;
    min-height: 200px;
    height: auto;
    background: #333;
    padding: 0.5em;
    overflow: auto
}

#terminal div.jquery-console-message {
    color: #ddd;
    font-family: monospace;
    padding: 0.1em;
}

/**
 * Blinking Cursor
 */

.blinking-cursor {
    background: #bbb;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-moz-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-webkit-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-ms-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-o-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

/**
 * Loading Sign
 */

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    margin-top: -1.5em;
    margin-left: -1.5em;
    z-index: 30;
}

.loading-element {
    -webkit-animation: pulse 0.4s ease-in-out alternate infinite;
    -moz-animation: pulse 0.4s ease-in-out alternate infinite;
    animation: pulse 0.4s ease-in-out alternate infinite;
    width: 1em;
    height: 1em;
    background-color: black;
    float: left;
}

.loading-element:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.loading-element:nth-child(3) {
    -webkit-animation-delay: 0.15s;
    -moz-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.loading-element:nth-child(4) {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/**
 * Tree View
 */

.node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 11px;
}

path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

/**
 * Entry Page
 */

#entryPage {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: 25;
    background:rgba(231, 231, 231, 0.7);
    color:white;
}

#newLabBtn, #oldLabBtn {
    position: absolute;
    left: 50%;
    width: 300px;
    height: 49px;
    margin-left: -150px;
    margin-top: -25px;
}

#newLabBtn {
    top: 45%;
}

#oldLabBtn {
    top: 55%;
}

/**
 * Wipeable Button
 */

[data-wipe] {
    display: inline-block;
    padding: 12px 18px;
    text-decoration: none;
    position: relative;
    border: 2px solid #445561;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    color: #445561;
    overflow: hidden;
}

[data-wipe]:before,
[data-wipe]:after {
    content: attr(data-wipe);
    padding-top: inherit;
    padding-bottom: inherit;
    white-space: nowrap;
    position: absolute;
    top: 0;
    overflow: hidden;
    color: #F1F1F2;
    background: #445561;
}

[data-wipe]:before {
    left: 0;
    text-indent: 18px;
    width: 0;
}

[data-wipe]:after {
    padding-left: inherit;
    padding-right: inherit;
    left: 100%;
    text-indent: calc(-100% - 36px);
    transition: 0.2s ease-in-out;
}

[data-wipe]:hover:before {
    width: 100%;
    transition: width 0.2s ease-in-out;
}

[data-wipe]:hover:after {
    left: 0;
    transition: 0s 0.2s ease-in-out;
}
