/**
 *  Sane Box Sizing
 */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,*:before,*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

/**
 * Overall Style
 */

html,body {
    height:100%;
}

body {
    background-color: #e7e7e7;
    color: #777;
    overflow:hidden;
    padding-top: 50px;
}

.panel {
    outline: 2px;
}

.navbar-fixed-top {
    border: 0;
}

/**
 * Side Bar
 */

.main {
    padding-top: 0;
    padding-right: 20px;
    padding-left: 20px;
}

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/**
 * Code Mirror
 */

.breakpoints {
    width: .8em;
}

.CodeMirror {
    height: auto;
}

.CodeMirror-scroll {
    max-height: 600px;
}

/**
 * Terminal Theme
 */

#terminal {
    word-wrap: break-word;
    font-size: 14px;
}

#terminal div.jquery-console-inner {
    width: auto;
    min-height: 200px;
    height: auto;
    background: #333;
    padding: 0.5em;
    overflow: auto
}

#terminal div.jquery-console-message {
    color: #ddd;
    font-family: monospace;
    padding: 0.1em;
}

/**
 * Blinking Cursor
 */

.blinking-cursor {
    background: #bbb;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-moz-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-webkit-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-ms-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-o-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

/**
 * Loading Sign
 */

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    margin-top: -1.5em;
    margin-left: -1.5em;
}

.loading-element {
    -webkit-animation: pulse 0.4s ease-in-out alternate infinite;
    -moz-animation: pulse 0.4s ease-in-out alternate infinite;
    animation: pulse 0.4s ease-in-out alternate infinite;
    width: 1em;
    height: 1em;
    background-color: black;
    float: left;
}

.loading-element:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.loading-element:nth-child(3) {
    -webkit-animation-delay: 0.15s;
    -moz-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.loading-element:nth-child(4) {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/**
 * Tree View
 */

.node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 11px;
}

path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

/**
 * Entry Page
 */
#entryPage {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: 2000;
    background:rgba(231, 231, 231, 0.7);
    color:white;
}

/**
 * Wipeable Button
 */

[data-wipe] {
    display: inline-block;
    padding: 12px 18px;
    text-decoration: none;
    position: relative;
    border: 2px solid #445561;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: left;
    color: #445561;
    overflow: hidden;
}

[data-wipe]:before, [data-wipe]:after {
                        content: attr(data-wipe);
                        padding-top: inherit;
                        padding-bottom: inherit;
                        white-space: nowrap;
                        position: absolute;
                        top: 0;
                        overflow: hidden;
                        color: #F1F1F2;
                        background: #445561;
                    }

[data-wipe]:before {
    left: 0;
    text-indent: 18px;
    width: 0;
}

[data-wipe]:after {
    padding-left: inherit;
    padding-right: inherit;
    left: 100%;
    text-indent: calc(-100% - 36px);
    transition: 0.2s ease-in-out;
}

[data-wipe]:hover:before {
    width: 100%;
    transition: width 0.2s ease-in-out;
}

[data-wipe]:hover:after {
    left: 0;
    text-indent: 0;
    transition: 0s 0.2s ease-in-out;
}
